*.pyc
.metadata/.lock
.metadata/.log
.metadata/version.ini
.metadata/.plugins/org.eclipse.core.resources/.snap
.metadata/.plugins/org.eclipse.core.resources/.history/69/00c7fc0ba2e300141ec5f2c8b782c8ac
.metadata/.plugins/org.eclipse.core.resources/.projects/TP3/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/TP3/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.api.tools.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/1271342938.index
.metadata/.plugins/org.eclipse.jdt.core/1384487945.index
.metadata/.plugins/org.eclipse.jdt.core/156905802.index
.metadata/.plugins/org.eclipse.jdt.core/1596447508.index
.metadata/.plugins/org.eclipse.jdt.core/1756084151.index
.metadata/.plugins/org.eclipse.jdt.core/1819685514.index
.metadata/.plugins/org.eclipse.jdt.core/1833648217.index
.metadata/.plugins/org.eclipse.jdt.core/2545238116.index
.metadata/.plugins/org.eclipse.jdt.core/2808365295.index
.metadata/.plugins/org.eclipse.jdt.core/3083590234.index
.metadata/.plugins/org.eclipse.jdt.core/3128509342.index
.metadata/.plugins/org.eclipse.jdt.core/3266567714.index
.metadata/.plugins/org.eclipse.jdt.core/3302703152.index
.metadata/.plugins/org.eclipse.jdt.core/3321539481.index
.metadata/.plugins/org.eclipse.jdt.core/3712507179.index
.metadata/.plugins/org.eclipse.jdt.core/3965440798.index
.metadata/.plugins/org.eclipse.jdt.core/3993953981.index
.metadata/.plugins/org.eclipse.jdt.core/4098755769.index
.metadata/.plugins/org.eclipse.jdt.core/4141516030.index
.metadata/.plugins/org.eclipse.jdt.core/4189717456.index
.metadata/.plugins/org.eclipse.jdt.core/627677902.index
.metadata/.plugins/org.eclipse.jdt.core/785619964.index
.metadata/.plugins/org.eclipse.jdt.core/894628553.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
TP3/.metadata/.lock
TP3/.metadata/.log
TP3/.metadata/version.ini
TP3/.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
TP3/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
TP3/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
TP3/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
TP3/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
TP3/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
TP3/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
TP3/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
TP3/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
TP3/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
TP3/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
TP3/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
TP3/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
TP3/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
TP3/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
TP3/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
TP3/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
TP3/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
TP3/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
TP3/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
TP3/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
TP3/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
TP3/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
TP3/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
TP3/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2015/4/16/refactorings.history
TP3/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2015/4/16/refactorings.index
TP3/.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
TP3/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
TP3/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
TP3/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
